<ion-content padding>
  
  <ion-grid>

    <!-- Logo -->
    <div padding-horizontal text-center style="padding-bottom: 80px;">
      <div class="logo"></div>
      <h6 ion-text class="text-primary">
      envia y regresa con seguridad
      </h6>
    </div>

    <ion-row>
      <ion-col col-12>
        <button ion-button icon-only block class="btn-gplus" (click)="loginGoogle()">
          <ion-icon name="logo-googleplus"></ion-icon>
          Ingresa con google
        </button>
      </ion-col>
    </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col col-12>
        <button ion-button icon-only block class="btn-facebook" (click)="loginFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
          Ingresa con facebook
        </button>
      </ion-col>
    </ion-row>
  
    <div text-center margin-top>
      <span ion-text class="text-primary" tappable (click)="loginCorreo()">
        o con correo electrónico
      </span>
    </div>

</ion-content>
