page-login {

.btn-facebook {
  background-color: #3B5999;
}

.btn-gplus {
  background-color: #E04006
}

.logo {
  width: 130px;
  height: 130px;
  margin: 20px auto 0;
  border-radius: 10%;
  background: url("../assets/imgs/logo.png") no-repeat;
  background-size: 100%;
}


}
