page-recuperar-contrasena {
    .logo {
        width: 130px;
        height: 130px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logo.png") no-repeat;
        background-size: 100%;
    }

    .box {
        background: color($colors, light);
        //padding-top: 19px;
        color: black;
        font-size: 35px;
        text-align: center;
        height: 50px;
        width: 50px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

}
