<ion-content padding no-bounce>

  <ion-icon name="arrow-back" color="primary" (click)="volverAtras()"></ion-icon>

  <ion-content padding>

    <div padding-horizontal text-center style="padding-bottom: 30px;">
      <div class="logo"></div>
      <h6 ion-text class="text-primary">
        envia y regresa con seguridad
      </h6>
    </div>

    <div text-center style="padding-bottom: 20px;">
      <h4 ion-text class="text-primary">
        Recuperar contraseña
      </h4>
    </div>

    <form [formGroup]="formulario">
      <ion-item>
        <ion-input placeholder="Ingreso su correo electronico" type="email" formControlName="txtCorreo"></ion-input>
      </ion-item>
    </form>

    <ion-row>
      <ion-col col-12>
        <button ion-button color="primary" clear block>Ingrese el código</button>
      </ion-col>
    </ion-row>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <div class="box">
              <ion-input type="text" [(ngModel)]="num1">
              </ion-input>
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="box">
              <ion-input type="text" [(ngModel)]="num2">
              </ion-input>
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="box">
              <ion-input type="text" [(ngModel)]="num3">
              </ion-input>
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="box">
              <ion-input type="text" [(ngModel)]="num4">
              </ion-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row>
      <button ion-button color="primary" (click)="enviarCodigoNuevo()" clear block>¿Enviar código nuevo?</button>
    </ion-row>
  

    <button ion-button icon-start block color="primary" tappable (click)="cambiarContrasena()">
      Cambiar contraseña
    </button>

    

  </ion-content>