<ion-header>
<ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido a serviflash...!</h2>
  
</ion-content>
