page-cambiar-contrasena {

    .logo {
        width: 130px;
        height: 130px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logo.png") no-repeat;
        background-size: 100%;
    }
    .text-primary {
      color: color($colors, primary);
    }

}
