<ion-content padding no-bounce>

  <ion-icon name="arrow-back" color="primary" (click)="volverAtras()"></ion-icon>

  <ion-content padding>

    <div padding-horizontal text-center style="padding-bottom: 30px;">
      <div class="logo"></div>
      <h6 ion-text class="text-primary">
        envia y regresa con seguridad
      </h6>
    </div>

    <div text-center style="padding-bottom: 20px;">
      <h4 ion-text class="text-primary">
        Cambiar contraseña
      </h4>
    </div>

    <form [formGroup]="formulario">
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" formControlName="txtClave"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Repita la contraseña" type="password" formControlName="txtClaveRepetida"></ion-input>
      </ion-item>
    </form>

    <button ion-button icon-start block color="primary" tappable (click)="cambiarContrasena()">
      Cambiar contraseña
    </button>



  </ion-content>