<ion-content padding no-bounce>

<ion-icon name="arrow-back" color="secondary" (click)="volverAtras()"></ion-icon>

<ion-content padding>

  <div padding-horizontal text-center style="padding-bottom: 30px;">
    <div class="logo"></div>
  </div>

  <div text-center style="padding-bottom: 20px;">
    <h4 ion-text class="text-primary">
      Ingreso con correo
    </h4>
  </div>

  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label floating>
         Correo electrónico
      </ion-label>
      <ion-input type="email" formControlName="txtCorreo"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>
        Contraseña
      </ion-label>
      <ion-input type="password" formControlName="txtClave"></ion-input>
    </ion-item>
  </form>

  <ion-grid> 
    <ion-row>
      <button ion-button color="secondary" (click)="irRegistrarUsuario()" clear block>Registrate.</button>
    </ion-row>
    <ion-row>
      <button ion-button color="secondary" (click)="irRestablecerContrasena()" clear block>¿Ha olvidado tu contraseña?</button>
    </ion-row>
  </ion-grid>

 

  <button ion-button icon-start block color="colorbtn"  
          tappable (click)="loginCorreo()"
          [disabled]="!guardarFormulario">
    Enviar
  </button>

</ion-content>
