<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
         <!--   <button ion-item menuClose class="text-1x" *ngFor="let menuItem of paginas" (click)="abrirPagina(menuItem)">
                <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
                <span ion-text color="primary">{{menuItem.title}}</span>
           </button>-->
        </ion-list>
        <ion-footer>
            <button ion-item (click)="salir()">
                <ion-icon name="log-out" item-start></ion-icon>
                Salir
            </button>
        </ion-footer>
        
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
