<ion-content padding no-bounce>

  <ion-icon name="arrow-back" color="primary" (click)="volverAtras()"></ion-icon>

  <ion-content padding>

    <div padding-horizontal text-center style="padding-bottom: 30px;">
      <div class="logo"></div>
      <h4 ion-text class="text-primary">
        ServiFlash
      </h4>
    </div>

    <div text-center style="padding-bottom: 20px;">
      <h4 ion-text class="text-primary">
         Registrarse
      </h4>
    </div>

    <form [formGroup]="formulario">
      
      <ion-item>
        <ion-label>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nombre completo
        </ion-label>
        <ion-input type="text" formControlName="txtNombreCompleto"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="txtCorreo"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Contraseña
        </ion-label>
        <ion-input type="password" formControlName="txtClave"></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label>
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          Teléfono
        </ion-label>
        <ion-input type="text" formControlName="txtTelefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Pais</ion-label>
        <ion-select type="select" formControlName="txtPais" 
                    okText="Ok" cancelText="Cancelar" clearInput>
          <ion-option value="COP">
            Colombia
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-select type="select" formControlName="txtCiudad" 
                    okText="Ok" cancelText="Cancelar" clearInput>
          <ion-option value="BAR">
            Barranquilla
          </ion-option>
        </ion-select>
      </ion-item>

      
      <ion-item style="padding-top: 30px;padding-bottom: 30px" >
          <ion-checkbox formControlName="txtTerminosCondiciones"></ion-checkbox>
          <ion-label class="text-primary">Acepto los terminos y condiciones</ion-label>
      </ion-item>

    </form>

    <button ion-button icon-start block color="primary" tappable (click)="registrarUsuario()">
       Registrarse
    </button>

  </ion-content>